{
  "openapi": "3.1.0",
  "info": {
    "title": "Aravind Jaimon Portfolio API",
    "version": "1.0.0",
    "description": "Public API surface for aravindjaimon.com.",
    "contact": {
      "name": "Aravind Jaimon",
      "url": "https://aravindjaimon.com"
    }
  },
  "servers": [{ "url": "https://aravindjaimon.com" }],
  "paths": {
    "/api/newsletter": {
      "post": {
        "summary": "Subscribe to the newsletter",
        "operationId": "subscribeNewsletter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Subscriber email address."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully subscribed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "message": { "type": "string" } }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid email address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string" } }
                }
              }
            }
          },
          "409": {
            "description": "Email is already subscribed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string" } }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited by the upstream provider.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string" } }
                }
              }
            }
          },
          "500": {
            "description": "Server or upstream configuration error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string" } }
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "Service health check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "status": { "type": "string" } }
                }
              }
            }
          }
        }
      }
    }
  }
}
